* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --nav-bg: #232f3e;
  --second-nav-bg: #0f1111;
}

/* hero-section */

.hero-section {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

.hero-section-img {
  display: flex;
}

.hero-imgs {
  max-width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.arrow {
  background-color: rgba(231, 230, 230, 0.521);
  padding: 30px 10px;
  position: absolute;
  top: 20%;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 0%;
}

.right-arrow {
  right: 0%;
}

.hero-section-msg {
  padding: 10px 162px;
  text-align: center;
  background-color: white;
  font-size: 13px;
  white-space: nowrap;

  position: absolute;
  bottom: 50%;
  margin: 0px 25px;
}

/* product section */

.products-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 30px;
  row-gap: 20px;
  z-index: 1;
}

.header-row {
  margin-top: -18vw;
}

.product-div {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 20px;
  max-width: 24%;
  min-width: 200px;
  gap: 10px;
  z-index: 11;
}

.product-div img {
  cursor: pointer;
}

.scroll-products {
  margin: 0px 30px;
  background-color: white;
  padding: 20px;
}

.product-slider::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

.product-slider::-webkit-scrollbar-thumb {
  background-color: #aaa9a9;
  border-radius: 25px;
  border: 2px solid transparent;
  width: 25px;
}

.product-slider::-webkit-scrollbar-thumb:hover {
  background-color: #969595;
}

.product-slider::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 25px;
}

.scroll-products .product-slider {
  display: flex;
  overflow-x: auto;
  gap: 25px;
  margin-top: 10px;
}

.scroll-products .product-slider img {
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
}

.sign-in-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 0px;
}

.inside-sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px rgb(178, 177, 177) solid;
  width: 100%;
  padding: 30px 0px 20px 0px;
  border-radius: 5px;
}

.inside-sign-in button {
  padding: 5px 70px;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  background-color: rgb(247, 212, 96);
  cursor: pointer;
}

.inside-sign-in button:hover {
  background-color: rgb(248, 205, 66);
}

.inside-sign-in p {
  font-size: 12px;
}

.inside-sign-in p a {
  text-decoration: underline;
}

.back-to-top {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #314053;
}

.back-to-top a {
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.footer-link-div {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 80px;
  gap: 50px;
  background-color: #232f3e;
}

.link-div h4 {
  color: white;
  padding-bottom: 10px;
  font-size: 16px;
}

.link-div p {
  color: #dddddd;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 14px;
}

.link-div p:hover {
  text-decoration: underline;
}

.footer-second {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 50px 0px;
  background-color: #232f3e;
  color: white;
  border-top: 0.5px rgb(132, 132, 132) solid;
}

.footer-inside-div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 1px lightgray solid;
  padding: 5px 10px;
  margin: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.footer-second .logo-amazon {
  margin-right: 100px;
}

.footer-img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  nav {
    flex-wrap: wrap;
  }
  .nav-middle {
    order: 7;
    margin: 15px 0 5px;
    min-width: 300px;
  }
  .product-div {
    max-width: 48%;
  }
  .hero-section-msg {
    display: none;
  }
  .footer-link-div {
    display: none;
  }
  .footer-second {
    display: none;
  }
}
@media only screen and (max-width: 630px) {
  .nav-left-delivery {
    display: none;
  }
  .nav-right-lang {
    display: none;
  }
  .nav-right-text {
    display: none;
  }
  .second-nav {
    font-size: 13px;
    gap: 10px;
    overflow-x: scroll;
  }
  .second-nav::-webkit-scrollbar {
    display: none;
  }
  .second-nav-p {
    text-wrap: nowrap;
  }
  .nav-middle {
    order: 4;
    margin: 15px 0 5px;
    min-width: 300px;
  }
}
